<table width="100%" border="0" cellspacing="0" cellspacing="0" align="center" bgcolor="" style="margin: 0 auto;">
    <tr>
        <td style="padding: 15px 15px 15px 15px;font-family: arial;  font-size: 12px; line-height: 16px; color:#ffffff">
            Actualmente estas suscrito a este boletín con la cuenta {{ email }}<br/>
            ​​​Por favor no respondas a este email. Si quieres darte de baja o tienes cualquier duda o sugerencia contacta haciendo clic
            <a style="text-decoration: none; color: #ff483f;" href="{{ url("i_flair_lets_bonus_front_contact") }}">aqu&iacute;</a>.
            <br/>
            Este email ha sido enviado por Letsback, S.L. con CIF B-66593641 y domicilio social en Palau de Mar, Plaza de Pau Vila, n&ordm;1, 1&ordf; planta (08039), Barcelona, España, responsable del fichero automatizado en el que constan tus datos.
        </td>
    </tr>
</table>