<table width="100%" border="0" cellspacing="0" align="center" bgcolor="" style="margin: 0 auto;">
    <tr>
        <td style="padding: 15px 15px 15px 15px;font-family: arial;  font-size: 12px; line-height: 16px; color:#ffffff">
            ​​​En virtud de lo establecido en la Ley 15/1999, y la LSSICE 34/2002, le informamos que sus datos forman parte de un fichero automatizado titularidad de LETSBACK, S.L., con el fin de poder atender su petición y prestarle el servicio solicitado, así como para mantenerle informado, incluso por medios electrónicos, sobre cuestiones relativas a la actividad de la empresa y sus servicios. Puede ejercer los derechos de acceso, rectificación, cancelación y oposición en: Calle Aribau 197-199, planta 3, (08021) Barcelona o enviando un email a <a style="text-decoration: none; color: #ff483f;" href="mailto:info@shoppiday.com" title="info@shoppiday.com">info@shoppiday.com</a>. <br/><br/>
            En cumplimiento de la Ley 34/2002 del 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, le informamos que puede revocar en cualquier momento, de forma sencilla y gratuita, el consentimiento para la recepción de información comercial haciendo click aquí. <br/><br/>
            Este email ha sido enviado por LETSBACK, S.L. con CIF B66593641, con domicilio social en alau de Mar, plaza de Pau Vila 1, planta 1 (08039), Barcelona, España, responsable del fichero automatizado en el que constan tus datos.
        </td>
    </tr>
</table>