<p>
Welcome, <br/>
You have successfully updated your details.
</p>
<br/>
Your Details are:
<ul>
<li><b>Email</b>: {{ email }} </li>
<li><b>Password</b>: {{ password }} </li>
<a href="{{ app.request.getSchemeAndHttpHost() }}/review/{{name}}">Please share your review</a>
</ul>
