{% include '::header.html.twig' %}
    <div class="container">
    	<div class="row">
    		<div class="new_cotent_1">
				<span>GESTIONA TU SUSCRIPCION</span>				
				<p>Hemos recibido tu solicitud correctamente.</p>
				<p></p>
				<p>Siempre que desees, puedes volver a suscribirte a nuestros e-mails desde tu zona de usuario.</p>
				<p></p>
				<p>Si has decidido seguir ahorrando o te has dado de baja par error, <a href="javascript:void()">haz clic aqui.</a></p>
			</div>
    	</div>
    </div>
{% include '::footer.html.twig' %}