{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
    	{% if object.amazonUsername != null %}
        	{{ object.amazonUsername }}
        {% else %}
            <span>-</span>
        {% endif %}
    </div>
{% endblock %}