{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_breadcrumb %}
    {% include "iFlairLetsBonusAdminBundle::dashboard_menu.html.twig" %}
{% endblock %}
{%  block side_bar_after_nav %}
    {% include "iFlairLetsBonusAdminBundle::navigation_menu.html.twig" %}
{% endblock %}

{% block stylesheets %}
	{% stylesheets
		'@iFlairLetsBonusFrontBundle/Resources/public/css/fullcalendar.css' filter='cssrewrite'
		'@iFlairLetsBonusFrontBundle/Resources/public/css/fullcalendar.print.css' filter='cssrewrite'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}

	{% javascripts 
		'@iFlairLetsBonusFrontBundle/Resources/public/js/moment.min.js'
		'@iFlairLetsBonusFrontBundle/Resources/public/js/jquery.1.10.2.min.js'
		'@iFlairLetsBonusFrontBundle/Resources/public/js/fullcalendar.min.js'		
	%}
    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript">
	$(document).ready(function() {
		var datas = {{ newsletterdata|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},				
			// defaultDate: '2016-05-12',
			businessHours: true, // display business hours
			editable: true,
			events:
				datas
		});	
	});
	</script>
{% endblock %}

{% block content -%}
<div id='calendar'></div>
{% endblock %}