{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.nimage != null %}
            {% thumbnail object.nimage, 'default_preview' %}
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}