{% extends '::base.html.twig' %}
{% block content %}
    <div class="container breadcrumb">
        <div class="row">
            <ul>
                <li><a href="{{ url('i_flair_lets_bonus_front_homepage') }}" title="Home">Home</a></li>
                <li class="active">Recuperar contrase침a</li>
            </ul>
        </div>
    </div>
    <div class="container forget_password_page">
        <div class="row">
            <div class="ayuda_full">
                <div class="ayuda_title">
                    <h1>Recuperar contrase침a</h1>
                </div>
                <div class="forgot_pw_text">Introduce la direcci칩n de correo electronico asociada a tu cuenta</div>
                </br>
                <div class="ayuda_wrapp">
                    <div class="fp_form_wrapper">
                        <form class="forgot-password-form" method="post"
                              action="{{ url('i_flair_lets_bonus_front_forgot_password_sent') }}">
                            <div class="fp_field_wrapper">
                                {{ form_widget(login_form.email,{ 'attr':{'placeholder':'Email', 'oninvalid': "setCustomValidity('El email introducido no es v치lido')", 'oninput' : "setCustomValidity('')"}}) }}
                            </div>
                            <div class="fp_field_wrapper">
                                <input type="submit" value="Enviar" name="submit" class="forgot_pw_submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
