{% extends '::base.html.twig' %}
{% block content %}
    <div class="container breadcrumb">
        <div class="row">
            <ul>
                <li><a href="{{ url('i_flair_lets_bonus_front_homepage') }}" title="Home">Home</a></li>
                <li><a href="{{ url('i_flair_lets_bonus_front_forgot_password') }}" title="Recuperar contraseña">Recuperar contraseña</a></li>
                <li class="active">Enviado</li>
            </ul>
        </div>
    </div>
    <div class="container forget_password_page">
        <div class="row">
            <div class="ayuda_full">
                <div class="ayuda_title">
                    <h1>¡Email Enviado!</h1>
                </div>
                <div class="forgot_pw_text">Te hemos enviado un email para que puedas reestablecer tu contraseña.</div>
            </div>
        </div>
    </div>
{% endblock %}
