{% extends '::base.html.twig' %}
{% block content %}
    <div class="container breadcrumb">
        <div class="row">
            <ul>
                <li><a href="{{ url('i_flair_lets_bonus_front_homepage') }}" title="Home">Home</a></li>
                <li class="active">Cambia tu contraseña</li>
            </ul>
        </div>
    </div>
    <div class="container forget_password_page">
        <div class="row">
            <div class="ayuda_full">
                <div class="ayuda_title">
                    <h1>Elegir una contraseña nueva.</h1>
                </div>
                <div class="ayuda_wrapp">
                    <form class="reset-password-form" method="post"
                          action="{{ absolute_url(path('i_flair_lets_bonus_front_reset_forgot_password', {'token': token })) }}">
                        <div class="password_text">Contraseña</div>
                        {{ form_row(form.password.first,{ 'id': 'forgot_password','attr': {'class': 'form-control','placeholder':'••••••••'}}) }}
                        <span id="forgot_password_result"></span>
                        <br/>
                        <div class="password_text">Confirmar contraseña</div>
                        {{ form_row(form.password.second,{ 'id': 'forgot_repeat_password','attr': {'class': 'form-control','placeholder':'••••••••'}}) }}
                        <br/>
                        <input type="submit" value="Aceptar" name="submit" id="forgot_password_submit"
                               class="forgot_pw_submit"><br/> <br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}