{% extends '::base.html.twig' %}
{% block content %}
    <div class="container breadcrumb">
    </div>
    <div class="container forget_password_page">
        <div class="row">
            <div class="ayuda_full">
                <div class="ayuda_title">
                    <h1>¡Tu contraseña se ha cambiado con éxito!</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
